body {
    background-image: url('./background.jpg');
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock {
    width: 350px;
    height: 350px;
    border: 4px solid #091038;
    border-radius: 50%;
    color: white;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.05), inset 0 15px 15px rgba(0, 0, 0, 0.05);
    position: relative;
}

.clock .num {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.5rem;
}

.clock .one {
    --rotation: 30deg;
}

.clock .two {
    --rotation: 60deg;
}

.clock .three {
    --rotation: 90deg;
}

.clock .four {
    --rotation: 120deg;
}

.clock .five {
    --rotation: 150deg;
}

.clock .six {
    --rotation: 180deg;
}

.clock .seven {
    --rotation: 210deg;
}

.clock .eight {
    --rotation: 240deg;
}

.clock .nine {
    --rotation: 270deg;
}

.clock .ten {
    --rotation: 300deg;
}

.clock .eleven {
    --rotation: 330deg;
}

.clock .hand {
    --rotation: 0;
    position: absolute;
    left: 50%;
    /* height: 80px; */
    bottom: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
    z-index: 10;
}

.clock::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 11;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
}

.clock .hand.seconds {
    width: 4px;
    height: 40%;
    background-color: white;
}

.clock .hand.minute {
    width: 8px;
    height: 33%;
    background-color: white;
}

.clock .hand.hour {
    width: 10px;
    height: 22%;
    background-color: red;
}
